/* src/pages/Main.css */
.mainpage-class{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  font-size: 50px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  position: absolute;
}

@media (max-width: 768px) and (orientation: portrait) {
  /* 모바일 세로 모드에 대한 스타일 */
  .close-button{
    top: 20px;
    right: 8%;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  /* 모바일 가로 모드에 대한 스타일 */
  .close-button{
    top: 20px;
    right: 10%;
  }
}

@media (min-width: 768px) {
  /* 컴퓨터 화면 */
  .close-button{
    top: 30px;
    right: 7%;
  }
}

.button-text{
  color: black !important;
}

.menu {
  position: fixed;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  background-color: #7b7272;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

.menu.open {
  left: 0;
}

.menu nav ul {
  list-style-type: none;
  padding: 0;
}

.menu nav ul li {
  padding: 10px 20px;
}

.menu nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}



