/* src/pages/ProductDetailPage.css */
.menu {
  position: fixed;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  background-color: #ffffff;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

.menu nav {
  display: flex; /* 플렉스 박스 컨테이너로 설정 */
  justify-content: center; /* 수평 중앙 정렬 */
  margin-top: 50px;
  height: 100%; /* nav가 메뉴의 전체 높이를 차지하도록 설정 */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  line-height: 10px;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px; /* 원하는 최대 너비로 조절하세요 */
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}


.product-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding-top: 80px;
}

.product-detail-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-detail-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .product-detail-content {
    flex-direction: row;
  }
}

/* 화면 너비가 767px 이하일 때 적용 */
@media (max-width: 767px) {
  .product-detail-content {
    flex-direction: column;
  }
}

.product-detail-image-container {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.product-detail-image {
  width: 100%;
  height: auto;
}

.product-detail-info h2 {
  margin-top: 20px;
  margin-bottom: 115px; /* 상품명과 가격 간격 늘리기 */
}

.product-detail-info .price {
  font-size: 18px; /* 크기 줄이기 */
  font-weight: bold;
  margin-bottom: 0; /* 가격과 DETAILS 간격 줄이기 */
}

.product-detail-info .details {
  margin-top: 0; /* 가격과 DETAILS 간격 줄이기 */
}

.product-detail-info .details,
.product-detail-info .size-select {
  text-align: left; /* 왼쪽 정렬 */
  font-size: 14px; /* 크기 줄이기 */
  margin: 20px 0; /* 간격 줄이기 */
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.product-detail-info .details ul,
.product-detail-info .size-select ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 12px; /* 한 단계 더 작은 글자 크기 */
}

.product-detail-info .details li,
.product-detail-info .size-select li {
  padding-left: 10px; /* 동일한 시작 지점 */
  margin-bottom: 5px; /* 항목 간 간격 */
}

.product-detail-info .actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.product-detail-info .actions button {
  flex: 1;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}

.product-detail-info .actions button:hover {
  background-color: #555;
}