/* 슬라이더 스타일 */
.mainimages-slider {
  position: relative;
  width: 100%;
  max-width: 500px; /* 원하는 최대 너비로 조절하세요 */
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.slider-button {  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.product-image {
  width: 80%;
  height: auto;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-button:first-of-type {
  left: 10px;
}

.slider-button:last-of-type {
  right: 10px;
}
